---
import Base from '../layouts/Base.astro';
import Preloader from '../components/Preloader.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Work from '../components/Work.astro';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
---

<Base>
  <Preloader />
  <Header />
  <main id="main">
    <Hero />
    <About />
    <Skills />
    <Work />
    <Experience />
    <Contact />
  </main>
</Base>
